*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#0b0b0b;
color:white;

height:100vh;
display:flex;
align-items:center;
justify-content:center;

}

/* painel */

.card{

background:#111;
width:330px;
padding:25px;

border-radius:15px;

box-shadow:0 0 30px rgba(255,150,0,0.3);

}

h2{

text-align:center;
margin-bottom:20px;

}

/* opções */

.option{

display:flex;
justify-content:space-between;
align-items:center;

background:#1a1a1a;
padding:12px;
margin-top:10px;

border-radius:10px;

}

/* botão */

button{

width:100%;
padding:14px;
margin-top:20px;

background:orange;
border:none;
border-radius:10px;

color:white;
font-weight:bold;

}

/* switch */

.switch{
position:relative;
width:40px;
height:20px;
display:inline-block;
}

.switch input{
opacity:0;
}

.slider{

position:absolute;
top:0;
left:0;
right:0;
bottom:0;

background:#444;
border-radius:20px;

}

.slider:before{

content:"";
position:absolute;

height:14px;
width:14px;

left:3px;
bottom:3px;

background:white;
border-radius:50%;

transition:.3s;

}

input:checked + .slider{
background:orange;
}

input:checked + .slider:before{
transform:translateX(18px);
}